# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# MacOS
.DS_Store
.AppleDouble
.LSOverride

# VS Code
.vscode/

# IntelliJ / JetBrains
.idea/
*.iml

# Hidemaru Editor backups
*.bak
*.sav

# Logs
*.log

# Temp
*.tmp
